<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista de Filmes</h1>
    <table>
        <tr>
            <td>Título</td>
            <td>Ano</td>
            <td>Genêro</td>
        </tr>
        {% for filme in filmes  %}
        <tr>
            <td>{{ filme.titulo }}</td>
            <td>{{ filme.genero }}</td>
            <td>
                {{ filme.ano }}:
                {% if filme.ano > 2017 %}
                    <span style="color: red; font-weight: bold;">Filme Recente</span>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Voltar para a página inicial</a> 

</body>
</html>